.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 1rem;
  background-color: var(--taupe-gray);
  border-radius: 7px;
  font-family: 'Poppins', sans-serif;
  margin-top: 25px;
}
.productBought {
  text-decoration: line-through;
}
.productButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.icon {
  font-size: 25px;
  color: rgba(51, 51, 58, 0.397);
  cursor: pointer;
}
.iconEdit {
  color: rgba(76, 76, 194, 0.39);
  cursor: no-drop;
}
.iconDelete {
  color: red;
}
.iconShopped {
  color: green;
}
